<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase List</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <style>
        body {
            padding-top: 4.5rem; /* Adjust according to your navbar height */
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Sport Shoes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item ">
                    <a class="nav-link"  th:href="@{/shoes}">Shoes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shoes/add}">Add Shoes</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/purchase}">Purchased</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users}">User List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/users/changepass}">Change Password</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" id="logoutButton">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<main role="main" class="container">
    <h2 class="mt-5 mb-4">Purchase List</h2>
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Shoe Name</th>
                    <th scope="col">Shoe Category</th>
                    <th scope="col">Shoe Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <!-- Iterate over purchased shoes -->
                <tr th:each="purchase : ${purchasesList}">
                    <td th:text="${purchase.shoes.getName()}">Shoe Name</td>
                    <td th:text="${purchase.shoes.getCategory().getName()}">Shoe Name</td>
                    <td th:text="${purchase.shoes.getDescription()}">Shoe Description</td>
                    <td th:text="${purchase.shoes.getPrice()}">Shoe Price</td>
                    <td th:text="${purchase.getOrderDate()}">Shoe Order Date</td>

                </tr>
                </tbody>

            </table>
        </div>
    </div>
</main>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:inline="javascript">
  document.getElementById('logoutButton').addEventListener('click', function(event) {
        event.preventDefault();
        localStorage.removeItem('token');
        window.location.href = '/';
    });
</script>

</body>
</html>
